.toggle-container {
    cursor:pointer;
    user-select:none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.toggle-container label {
    cursor:pointer;
    margin-left:0.5em;
}

.toggle {
    display:inline-block;
    vertical-align: middle;
    box-sizing: content-box;
    position:relative;
    border-radius: 1em;
    width:3em;
    height:1.5em;
    border-style:solid;
    border-width: 2px;
    background-color: #e0e0e0;
    border-color: #c6c6c6;
}

.toggle-container[value=true] .toggle {
    background-color: #19a21f;
    border-color: #19a21f;
}

.toggle-container .marker {
    display:inline-block;
    border-radius:1em;
    background-color:white;
    height: 1.5em;
    width: 1.5em;
    transition:transform 0.1s ease-in-out;
}

.toggle .marker {
    box-shadow:3px 0px 3px 0px rgba(0,0,0,0.15);
}

.toggle-container[value=true] .marker {
    box-shadow:-3px 0px 3px 0px rgba(0,0,0,0.15);
    transform:translateX(100%);
}

