* {
    box-sizing: border-box;
    font-family: --apple-system, Helvetica, sans-serif;
    line-height:1;
}

p {
    line-height:1.6;
}

div[role="tablist"] {
    border-bottom: solid 1px #999;
    margin-bottom:20px;
}

div[role="tablist"] > [role="tab"] {
    cursor: pointer;
    display:inline-block;
    padding: 8px 16px 4px 16px;
    margin:0px 2px -1px 0px;
    background-color:#f5f5f5;
    border:solid 1px #ccc;
    border-bottom: solid 1px #999;
    border-radius: 4px 4px 0px 0px; 
    color: #777;
    font-family: inherit;
    font-size:1.1rem;
    text-decoration: none;
}

div[role="tablist"] > [role="tab"]:hover,
div[role="tablist"] > [role="tab"]:focus {
    background-color: #ddd;
    border-color:#aaa;
    border-bottom: solid 1px #999;
    color:#666;
}

div[role="tablist"] > [role="tab"][aria-selected="true"] {
    border-color: #999;
    border-bottom: solid 1px white;
    background-color: white;
    color: #000;
}
